<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="homepage">

    {% include header.html %}

    {% include search.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div class="photo-credit">Photo by <a href="https://www.flickr.com/photos/divinenephron/6820220764/in/photolist-boFq2b-4zz6ec-oxeyfL-2w4JU-e39Ptw-aCLnaZ-7HcnoG-JuGJR-8N2RFA-qAQbaF-8SqXfL-bKYRat-duvbug-9RBr9K-iFMAca-8DpNqz-nEVMtd-aK7mXD-4xcw2Y-a7Vbsy-9SCEM2-je75Bh-gC59F-6ruaeK-phHfW4-9ZRMry-e4WqDn-3dmd9h-oqvcAy-4PkGTs-muHCUX-af4gty-oqZ1as-6k7C4Y-feTuRT-osx5UR-duAM1G-duvaDr-dNcxEa-nkM2Le-bFmgiB-awjfPD-duv6ox-e6HrNW-p2TKE-2Rt9P-fbZNtC-axSw6h-5C178i-8N2Rgy/" target="_blank">Devon Buchanan</a>, <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">some rights reserved</a>.</div>

</div><!-- end homepage-->

    {% include footer.html %}


  </body>

</html>
